md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: rgb(0,0,0);
    color: rgb(0,0,0);
    opacity: 0.4;
    height: 100px
}
md-bottom-sheet.md-default-theme:not(.md-menu-bottom-sheet), md-bottom-sheet:not(.md-menu-bottom-sheet) {
    background-color: rgb(0,0,0);
    color: rgb(0,0,0);
    opacity: 0.4;
}
/*#content {*/
    /*background-color: blue;*/
    /*width: 400px;*/
    /*height: 500px*/
/*}*/
/*.container{*/
    /*background-color: red;*/
    /*width: 400px;*/
    /*height: 400px;*/
    /*margin: 0px 600px*/
/*}*/


body{
    background-image: url("https://static.pexels.com/photos/17577/pexels-photo.jpg");
    background-size: cover;
    background-position: center;
}

.login {
    width: 340px;
    margin: 4em auto;
    padding: 48px 32px 32px 32px;
    background: #fafafa;
    opacity: 0.8;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}
.md-input-container{
   border: 1px solid #ebebeb;
}

#pop{
    width: 340px;
    padding: 48px 32px 32px 32px;
    border: none;
}