
<md-toolbar>

</md-toolbar>
<form class="login">
    <h1><Smartfolio></Smartfolio></h1>
    <md-input-container>
        <label>EmailAddress</label>
        <input type="email" ng-model="user.username" />
    </md-input-container>
    <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="user.password" />
    </md-input-container>
    <div layout="row" layout-align="center center" style="padding-top:20px;">
        <md-button class="btn btn-lg btn-primary btn-block" ng-click="login()">Login</md-button>
        <div flex="flex"></div>
        <md-button class="btn btn-lg btn-primary btn-block" ng-click="showDialog($event)" md-no-ink="md-no-ink">Sign Up</md-button>
    </div>
</form>

