<md-toolbar>

</md-toolbar>
<form class="login">
  <h1>
    Smartfolio
  </h1>
  <md-input-container class="loginForm">
    <label>EmailAddress</label>
    <input type="email" ng-model="user.username" />
  </md-input-container>
  <md-input-container class="loginForm">
    <label>Password</label>
    <input type="password" ng-model="user.password" />
  </md-input-container>
  <div layout="column" layout-align="center center" style="padding-top:20px;">
<md-button class="btn btn-lg btn-primary btn-block add" ng-click="login()">Login</md-button>
<div flex="flex"></div>
<md-button class="btn btn-lg btn-primary btn-block add" ng-click="showDialog($event)" md-no-ink="md-no-ink">Sign Up</md-button>
</div>
</form>
